.new-entry
  &__inputs
    display: flex
    flex-wrap: wrap

  &__block
    width: 100%
    display: flex
    flex-wrap: wrap
    margin-bottom: 40px

    &:last-child
      margin-bottom: 0

    &_type
      &_author
        margin-bottom: 0px

  &__item
    margin-bottom: 10px
    width: calc(100%/3)
    padding: 10px
    
  &__title
    display: block
    margin-bottom: 5px

  &__button
    margin-right: 40px
    &:last-of-type
      margin-right: 0