.new-entry
  margin-bottom: 60px

  &__inputs
    display: flex
    flex-wrap: wrap
    margin-bottom: 10px


  &__item
    margin-bottom: 20px
    width: 50%
    display: flex
    justify-content: flex-start
    align-items: flex-start
    padding: 10px
    
  &__title
    width: 200px
    display: block
    flex: none

  &__button
    display: block
    margin: 0 auto