.new-entry
  margin-bottom: 70px

  &__inputs
    display: flex
    flex-wrap: wrap
    margin-bottom: 10px

  &__block
    width: 100%
    display: flex
    flex-wrap: wrap

    &_type
      &_authors
        margin-bottom: 70px
        width: 50%

      &_info
        margin-bottom: 40px

      &_options
        margin: 0 0 70px 0

  &__item
    margin-bottom: 10px
    width: 50%
    display: flex
    justify-content: flex-start
    align-items: flex-start
    padding: 10px

    &_type
      &_author
        width: 100%
    
  &__title
    width: 200px
    display: block
    flex: none

  &__button
    margin-right: 40px
    &:last-of-type
      margin-right: 0